<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplicación con spring boot y mongodb</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
</head>

<body>
    <div class="container">
        <br>
        <h2 th:if="${list.isEmpty()}">No hay empleados a listar</h2>

        <div th:if="!${list.isEmpty()}">
            <h2>Mantenimiento de empleados</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>DNI</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="empleado : ${list}">
                        <td th:text="${empleado.id}">
                        <td th:text="${empleado.nombre}">
                        <td th:text="${empleado.apellido}">
                        <td th:text="${empleado.edad}">
                        <td th:text="${empleado.direccion}">
                        <td th:text="${empleado.telefono}">
                        <td><a th:href="@{/guardar/{id}(id=${empleado.id})}" class="btn btn-primary">Editar</a></td>
                        <td><a th:href="@{/eliminar/{id}(id=${empleado.id})}" class="btn btn-danger">Eliminar</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <br>
        <div>
            <a href="/guardar/0" class="btn btn-primary">Agregar</a>
        </div>
    </div>
</body>

</html>